# Ignore environment files
.env
.env.*

# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# macOS specific
.DS_Store

# Streamlit logs
.streamlit/

# Virtual environments
venv/
env/
